* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  border-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.menu-section {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
}

.menu-section .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-section .menu-items .menu-item {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-section .menu-items .menu-item h2 {
  color: #777777;
  font-size: 13px;
  padding-top: 1.5px;
}

.menu-section .menu-items .menu-item select {
  color: #777777;
}

.menu-section .menu-items .nav-bar {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-section .menu-items .nav-bar li a {
  color: #777777;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.header-section {
  width: 100%;
  padding-top: 30px;
}

.header-section .header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 60px;
}

.header-section .header-items .logo {
  width: 100%;
  padding-top: 5px;
}

.header-section .header-items .search {
  width: 100%;
  position: relative;
}

.header-section .header-items .search input {
  border: 1px solid #f1f1f1;
  width: 600px;
  height: 50px;
  padding-left: 15px;
  position: relative;
  margin-left: 20px;
}

.header-section .header-items .search button {
  background-color: transparent;
  position: absolute;
  right: 5px;
  width: 45px;
  bottom: 0px;
  border-left: 1px solid #f1f1f1;
  height: 50px;
}

.header-section .header-items .search button i {
  font-size: 20px;
}

.header-section .header-items .cart {
  width: 100%;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section .header-items .cart .circle {
  width: 50px;
  height: 50px;
  background-color: #0183c1;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .header-items .cart .circle i {
  color: #fff;
  font-size: 25px;
}

.header-section .header-items .cart .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
}

.header-section .header-items .cart .info strong {
  font-size: 13px;
}

.header-section .header-items .cart .info p {
  color: #777777;
  font-size: 11px;
}

.container {
  width: 1125px;
  margin: auto;
}

@media screen and (max-width: 1125px) {
  .container {
    width: 100%;
  }
}

/*  ==collections==  */
.collections {
  height: 500px;
}

.collections .container .collections-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collections .container .collections-sections .left-section {
  width: 280px;
  background-color: green;
}

.collections .container .collections-sections .main-content {
  width: 847px;
}

.collections .container .collections-sections .main-content .content-header {
  height: 415px;
}

.collections .container .collections-sections .main-content .content-header .content-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collections .container .collections-sections .main-content .content-header .content-titles .content-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 18px;
  font-weight: 600;
}

.collections .container .collections-sections .main-content .content-header .content-titles .content-links {
  font-size: 11px;
  color: #666666;
}

.collections .container .collections-sections .main-content .content-header .content-titles .content-links a {
  font-size: 11px;
  color: #666666;
}

.collections .container .collections-sections .main-content .content-header .content-titles .content-links a:hover {
  color: #337ab7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.collections .container .collections-sections .main-content .content-header .content-image img {
  margin-top: 20px;
}

.collections .container .collections-sections .main-content .content-header .content-image .image-title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-top: -210px;
  margin-left: 50px;
}

.collections .container .collections-sections .main-content .content-header .content-image .image-desc {
  font-size: 14px;
  color: white;
  margin-left: 50px;
  margin-top: 8px;
}

.collections .container .collections-sections .main-content .content-items .content-item {
  width: 263px;
  height: 370px;
}

.collections .container .collections-sections .main-content .content-items .content-item .item-image {
  background-image: url(img/Screenshot_2.png);
  width: 263px;
  height: 264px;
  background-size: cover;
}

.collections .container .collections-sections .main-content .content-items .content-item .item-title {
  color: #000000;
  max-width: 100%;
  font-weight: 600;
  margin-left: 75px;
  position: relative;
  top: 5px;
}

.collections .container .collections-sections .main-content .content-items .content-item .item-title:hover {
  color: #337ab7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.collections .container .collections-sections .main-content .content-items .content-item .item-quantity {
  text-align: center;
  margin-top: 7px;
  color: #333333;
}

.collections .container .collections-sections .main-content .content-items .content-item .item-button-flame {
  width: 150px;
  height: 32px;
  background: #ffffff;
  text-transform: uppercase;
  border: 1px #d1d1d1 solid;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  margin: 20px;
  margin-left: 60px;
}

.collections .container .collections-sections .main-content .content-items .content-item .item-button-flame .item-button {
  color: #666666;
  position: relative;
  top: 8px;
  margin-left: 7px;
}

.collections .container .collections-sections .main-content .content-items .content-item .item-button-flame:hover {
  background: #337ab7;
  border: 1px #337ab7 solid;
  color: white;
}

.collections .container .collections-sections .main-content .content-items .content-item .item-button:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */