$grey: #777777;
$lightgrey: #f1f1f1;
$blue: #0183c1;
$white: #fff;
$black: #222222;
$grey2: #eaeaea;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline-style: none;
    border-style: none;
    list-style-type: none;
    font-family: arial;
}

body {
    font-family: arial;
}

a {
    text-decoration: none;
}

.menu-section {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $lightgrey;
    .menu-items {
        display: flex;
        justify-content: space-between;
        .menu-item {
            width: 190px;
            display: flex;
            h2 {
                color: $grey;
                font-size: 13px;
                padding-top: 1.5px;
            }
            select {
                color: $grey;
            }
        }
        .nav-bar {
            width: 300px;
            display: flex;
            li {
                a {
                    color: $grey;
                    font-size: 12px;
                    cursor: pointer;
                    margin-left: 10px;
                }
            }
        }
    }
}

.header-section {
    width: 100%;
    padding-top: 30px;
    .header-items {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 60px;
        .logo {
            width: 100%;
            padding-top: 5px;
        }
        .search {
            width: 100%;
            position: relative;
            input {
                border: 1px solid $lightgrey;
                width: 600px;
                height: 50px;
                padding-left: 15px;
                position: relative;
                margin-left: 20px;
            }
            button {
                background-color: transparent;
                position: absolute;
                right: 5px;
                width: 45px;
                bottom: 0px;
                border-left: 1px solid $lightgrey;
                height: 50px;
                i {
                    font-size: 20px;
                }
            }
        }
        .cart {
            width: 100%;
            padding-left: 40px;
            display: flex;
            .circle {
                width: 50px;
                height: 50px;
                background-color: $blue;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    color: $white;
                    font-size: 25px;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                padding-left: 10px;
                strong {
                    font-size: 13px;
                }
                p {
                    color: $grey;
                    font-size: 11px;
                }
            }
        }
    }
}

.category-section {
    width: 100%;
    background-color: $black;
    margin-top: 50px;
    .category-items {
        display: grid;
        grid-template-columns: 1fr;
        .category-item {
            display: grid;
            grid-template-columns: 1fr;
            position: relative;
            .category {
                width: 250px;
                display: flex;
                flex-direction: column;
                height: 900px;
                position: absolute;
                top: -20px;
                .all-category {
                    width: 250px;
                    background-color: $blue;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    i {
                        color: $white;
                        font-size: 20px;
                        padding-left: 20px;
                    }
                    h4 {
                        color: $white;
                        font-size: 20px;
                        padding-right: 25px;
                    }
                }
                .menu {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                    border: 1px solid $grey2;
                    i {
                        color: $grey;
                        font-size: 13px;
                    }
                    a {
                        color: $grey;
                        font-size: 13px;
                        letter-spacing: 1px;
                        padding-left: 20px;
                    }
                    .check {
                        color: $grey;
                        font-size: 13px;
                        letter-spacing: 1px;
                        padding-left: 25px;
                    }
                }
            }
            .shipping {
                height: 50px;
                padding-left: 270px;
                display: flex;
                align-items: center;
                h3 {
                    font-size: 13px;
                    color: $white;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.container {
    width: 1140px;
    margin: auto;
    @media screen and (max-width: 1140px) {
        width: 100%;
    }
}


/*  ==collections==  */

.collections {
    height: 500px;
    .container {

        .collections-sections {
            display: flex;
            .left-section {
                width: 280px;
                background-color: green;
            }
            .main-content {
                width: 847px;
                .content-header {
                    height: 415px;
                    .content-titles {
                        display: flex;
                        justify-content: space-between;
                        .content-title {
                            color: #000000;
                            text-transform: uppercase;
                            font-size: 22px;
                            line-height: 18px;
                            font-weight: 600;
                        }
                        .content-links {
                            font-size: 11px;
                            color: $grey;
                            a {
                                font-size: 11px;
                                color: $grey;
                            }
                            a:hover {
                                color: $blue;
                                transition: 0.3s;
                            }
                        }
                    }
                    .content-image {

                        .content-img {
                            margin-top: 20px;
                            width: 600px;
                            height: 300px;
                            
                            }
                        }
                        .image-title {
                            color: $white;
                            font-size: 50px;
                            font-weight: bold;
                            margin-top: -210px;
                            margin-left: 50px;
                        }
                        .image-desc {
                            font-size: 14px;
                            color: $white;
                            margin-left: 50px;
                            margin-top: 8px;
                        }
                    }
                }
                .content-items {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .content-item {
                        width: 263px;
                        height: 370px;
                        margin-left: 20px;
                        margin-bottom: 25px;
                        .item-image {
                            background-image: url(img/Screenshot_2.png);
                            width: 263px;
                            height: 264px;
                            background-size: cover;
                        }
                        .item-title {
                            color: #000000;
                            max-width: 100%;
                            font-weight: 600;
                            margin-left: 75px;
                            position: relative;
                            top: 5px;
                        }
                        .item-title:hover {
                            color: $blue;
                            transition: 0.3s;
                        }
                        .item-quantity {
                            text-align: center;
                            margin-top: 7px;
                            color: #333333;
                        }
                        .item-button-flame {
                            width: 150px;
                            height: 32px;
                            background: $white;
                            text-transform: uppercase;
                            border: 1px #d1d1d1 solid;
                            color: $grey;
                            font-size: 11px;
                            font-weight: bold;
                            margin: 20px;
                            margin-left: 60px;
                            .item-button {
                                color: $grey;
                                position: relative;
                                top: 8px;
                                margin-left: 7px;
                            }
                        }
                        .item-button-flame:hover {
                            background: $blue;
                            border: 1px $blue solid;
                            color: white;
                            transition: 0.3s;
                        }
                        .item-button-flame:hover .item-button {
                            color: $white;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}


/* blog */

.news {
    width: 100%;
    height: max-content;
    .items {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        .row {
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                color: $black;
                font-size: 22px;
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            ul {
                display: flex;
                li {
                    a {
                        color: $dark-grey;
                        font-size: 11px;
                    }
                    .divider {
                        color: $dark-grey;
                        margin: 7px;
                    }
                    span {
                        font-weight: normal;
                        color: $dark-grey;
                    }
                }
            }
        }
        .item {
            width: 847px;
            height: 580px;
            margin-top: 30px;
            img {
                width: 100%;
            }
            h2 {
                margin: auto;
                font-weight: 600;
                margin-top: 5px;
                margin-bottom: 2px;
                color: $dark-black;
            }
            span {
                font-style: italic;
                font-size: 13px;
                color: $grey3;
            }
            p {
                width: 847px;
                height: 54px;
                color: $black-3;
                font-size: 14px;
            }
        }
    }
}