$grey: #777777;
$lightgrey: #f1f1f1;
$blue: #0183c1;
$white: #fff;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline-style: none;
    border-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menu-section {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $lightgrey;
    .menu-items {
        display: flex;
        justify-content: space-between;
        .menu-item {
            width: 190px;
            display: flex;
            h2 {
                color: $grey;
                font-size: 13px;
                padding-top: 1.5px;
            }
            select {
                color: $grey;
            }
        }
        .nav-bar {
            width: 300px;
            display: flex;
            li {
                a {
                    color: $grey;
                    font-size: 12px;
                    cursor: pointer;
                    margin-left: 10px;
                }
            }
        }
    }
}

.header-section {
    width: 100%;
    padding-top: 30px;
    .header-items {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 60px;
        .logo {
            width: 100%;
            padding-top: 5px;
        }
        .search {
            width: 100%;
            position: relative;
            input {
                border: 1px solid $lightgrey;
                width: 600px;
                height: 50px;
                padding-left: 15px;
                position: relative;
                margin-left: 20px;
            }
            button {
                background-color: transparent;
                position: absolute;
                right: 5px;
                width: 45px;
                bottom: 0px;
                border-left: 1px solid $lightgrey;
                height: 50px;
                i {
                    font-size: 20px;
                }
            }
        }
        .cart {
            width: 100%;
            padding-left: 40px;
            display: flex;
            .circle {
                width: 50px;
                height: 50px;
                background-color: $blue;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    color: $white;
                    font-size: 25px;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                padding-left: 10px;
                strong {
                    font-size: 13px;
                }
                p {
                    color: $grey;
                    font-size: 11px;
                }
            }
        }
    }
}

.container {
    width: 1125px;
    margin: auto;
    @media screen and (max-width: 1125px) {
        width: 100%;
    }
}

/*  ==collections==  */

.collections{
    height: 500px;

    .container{

        .collections-sections{
            display: flex;

            .left-section{
                width: 280px;
                background-color: green;
            }

            .main-content{
                width: 847px;
    
                .content-header{
                    height: 410px;

                    .content-titles{
                        display: flex;
                        justify-content: space-between;

                        .content-title{
                            color: #000000;
                            text-transform: uppercase;
                            font-size: 22px;
                            line-height: 18px;
                            font-weight: 600;
                        }

                        .content-links{
                            font-size: 11px;
                            color: #666666;

                            a {
                                font-size: 11px;
                                color: #666666;
                            }

                            a:hover{
                                color: #337ab7;
                                transition: 0.3s;
                            }
                        }
                    }

                    .content-image{

                        img{
                            margin-top: 20px;
                        }

                        .image-title{
                            color: white;
                            font-size: 50px;
                            font-weight: bold;
                            margin-top: -210px;
                            margin-left: 50px;
                        }

                        .image-desc{
                            font-size: 14px;
                            color: white;
                            margin-left: 50px;
                            margin-top: 8px;
                        }

                    }

                }
            }
        }
    }
}