* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  border-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.menu-section {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
}

.menu-section .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-section .menu-items .menu-item {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-section .menu-items .menu-item h2 {
  color: #777777;
  font-size: 13px;
  padding-top: 1.5px;
}

.menu-section .menu-items .menu-item select {
  color: #777777;
}

.menu-section .menu-items .nav-bar {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-section .menu-items .nav-bar li a {
  color: #777777;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.header-section {
  width: 100%;
  padding-top: 30px;
}

.header-section .header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 60px;
}

.header-section .header-items .logo {
  width: 100%;
  padding-top: 5px;
}

.header-section .header-items .search {
  width: 100%;
  position: relative;
}

.header-section .header-items .search input {
  border: 1px solid #f1f1f1;
  width: 600px;
  height: 50px;
  padding-left: 15px;
  position: relative;
  margin-left: 20px;
}

.header-section .header-items .search button {
  background-color: transparent;
  position: absolute;
  right: 5px;
  width: 45px;
  bottom: 0px;
  border-left: 1px solid #f1f1f1;
  height: 50px;
}

.header-section .header-items .search button i {
  font-size: 20px;
}

.header-section .header-items .cart {
  width: 100%;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section .header-items .cart .circle {
  width: 50px;
  height: 50px;
  background-color: #0183c1;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .header-items .cart .circle i {
  color: #fff;
  font-size: 25px;
}

.header-section .header-items .cart .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
}

.header-section .header-items .cart .info strong {
  font-size: 13px;
}

.header-section .header-items .cart .info p {
  color: #777777;
  font-size: 11px;
}

.container {
  width: 1125px;
  margin: auto;
}

@media screen and (max-width: 1125px) {
  .container {
    width: 100%;
  }
}

/*  ==collections==  */
.collections {
  height: 500px;
  background-color: red;
}

.collections .container .main-content {
  width: 847px;
}

.collections .container .main-content .content-header {
  height: 410px;
  background-color: blue;
}
/*# sourceMappingURL=style.css.map */